modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0", "stripe:1.0.0", "google-mail:1.0.0", "outlook:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "projce947fce"
REVENUECAT_TEST_STORE_APP_ID = "app3bd2b9783a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app51be8f7af4"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app6eaf58c4da"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_RwBWyvPgyNyhhGhlLwaCWTXMhFR"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_xEeoLrNEKawMaZfbZUXDzQXxajL"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_gxhrOzFIGYGpnTCqraejJuASwsF"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_dGhhbmtmdWwtc3dpZnQtNDIuY2xlcmsuYWNjb3VudHMuZGV2JA"
LINKEDIN_REDIRECT_BASE_URL = "https://pinnboxio.net"

[userenv.production]
PUBLIC_URL = "https://pinn-box-io.replit.app"
